* {
  font-family: "figtree", sans-serif;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  background: hsl(47, 88%, 63%);
}

ul {
  list-style: none;
}

footer {
  margin-left: 2em;
}

.blog-card {
  height: 35rem;
  width: 25rem;
  border-style: solid;
  border-radius: 2rem;
  border-width: 1px;
  box-shadow: 10px 10px;
  background: hsl(0, 0%, 100%);
}

.blog-image {
  border-radius: 2rem;
}

.learning-block {
  width: 100px;
  height: 54px;
  line-height: 25.2px;
  border-radius: 0.5em;
  background: hsl(47, 88%, 63%);
  color: black;
  font-family: "figtree", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.gray-text {
  color: hsl(0, 0%, 42%);
  font-size: 16px;
}

/* Spacing & placement*/
.mx-5px {
  margin-left: 5px;
  margin-right: 5px;
}

.ml-2em {
  margin-left: 2em;
}

.py-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pl-2em {
  padding-left: 2em;
}

.pl-0em {
  padding-left: 0em;
}

.pb-8px {
  padding-bottom: 8px;
}

.flex {
  display: flex;
}

.flex-start {
  align-items: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

/*debug*/
/* .debug-border-blk {
    border: 1px solid black;
}
.debug-border-blu {
    border: 1px solid blue;
}
.debug-border-red {
    border: 1px solid red;
}
.flex.wrap { 
    border: 1px solid green;
    } */

/*blog-card blog-image learning-block flex wrap center align-center gray-text py-10 pb-8 mx-5 */
